.collapseButton{
}
.button{

}
.collapseButton:hover{
  color: darkblue;
  cursor: pointer;
}
.dropdown{
  background: #2566D5;
  color: white;
  font-size: 16px;
  position: relative;
  border: 4px color white;
  flex: display;
}
.spell-name-button{
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
.spell-name-button:hover{
  cursor: pointer;
  color: darkblue;

}
.spell-name-text{
  align-self: center;
}