.collapseButton{
  
}
.collapseButton:hover{
  color: darkblue;
  cursor: pointer;
}

.inputField{
  font-size: 16px;
}
.dropdown{
  background:white;
  color: black;
  font-size: 16px;
  position: relative;
  border: 4px color white;
}
.spell-name-button{
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
.spell-name-button:hover{
  cursor: pointer;
  color: white;

}
.spell-name-text{

}